Source: png-thumbnailer
Maintainer: Livanh <livanh@protonmail.com>
Section: gnome
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: png-thumbnailer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, imagemagick
Priority: optional
Section: gnome
Description: Thumbnailer for PNG image files 
 This script creates thumbnails for PNG image files in Nautilus, Nemo, PCManFM, and other file managers following GNOME conventions.
